# General
*.lock
*.log
*.swp
*.pyc
*.class
.DS_Store
Thumbs.db

# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.pub-preload-cache/
build/
coverage/
**/doc/api/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
.gradle/
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks
android/app/debug
android/app/profile
android/app/release
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/**/xcuserdata/
ios/Runner/GeneratedPluginRegistrant.*

# Output bundles
**/*.ipa
**/*.apk
**/*.aab
